* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    height: 50%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p:first-of-type {
    position: absolute;
    top: 78%;
    left: 57%;
    transform: translate(-78%, -57%);
}

p:last-of-type {
    position: absolute;
    top: 86%;
    left: 53%;
    transform: translate(-86%, -53%);
}

/* UTILITIES */
.measures_div {
    height: 100vh;
    position: relative;

    font-family: 'Oswald', sans-serif;
    font-size: 45px;
}


/*CLASS SUPERGA*/
.superga {
    background-color: red;
}

/* CLASS TOMMY */
.tommy {
    background-color: green;
}

/* CLASS CONNVERSE */
.converse {
    background-color: yellow;
}